
/* ---- Generic Browse Pages ---- */

h2.pagetitle { padding: 20px 0 20px 0; text-align: center; 
    color: #888888; font-weight: 400; font-size: 16px;
    text-transform: uppercase; }
h3.pagesubtitle { font-size: 20px; font-weight: 200; margin: 0;
    color: #ffffff;
    font-family: 'Source Code Pro', Consolas, monaco, monospace;  
}


/* ---- Responsive ---- */

@media screen and (max-width: 639px) {
    .popularcol {display: block; }
    .triplist_trip {letter-spacing: -1px;}
    h2.pagetitle {letter-spacing: 1px; }
    ul.sublist {clear: both; }
    ul.sublist li {display: inline-block; width: 30%; text-align: center;
        margin: 10px 0 10px 0; }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
    .popularcol {display: inline-block; float: left; width: 33%; }
    h2.pagetitle {letter-spacing: 5px;}
    ul.sublist {clear: both; }
    ul.sublist li {display: inline-block; width: 30%; text-align: center;
        margin: 10px 0 10px 0; }
}
@media screen and (min-width: 960px) {
    .popularcol {display: inline-block; float: left; width: 33%; }
    h2.pagetitle {letter-spacing: 5px;}
    ul.sublist { float: right; margin: 0 0 10px 0; }
}

/* ---- Popular ---- */

h3 span.rightarrow {color: #f94290; }

/* ---- Stop List ---- */
/* many bus routes, many stops */
    
ul.stoplist {padding: 10px 0 0 0px; margin: 0; list-style: none; 
    font-family: 'Source Code Pro', Consolas, monaco, monospace; }
ul.stoplist + div.clear { border-bottom: 2px solid #000000;
    margin-bottom: 40px;}
li.stoplist_bus { font-size: 24px; clear: both; 
    border-top: 2px solid #000000; padding: 10px 0 0 0;}

.headsign { float: left; }
.headsign span.rightarrow {color: #888888; }
.headsign a.busname { color: #ede22a; font-size: 16px; letter-spacing: -1px; }
.headsign a:hover {color: #ffffff; }

ul.sublist { padding: 0; font-size: 16px;  }
li.sublist_time {list-style: none; display: inline-block; padding: 0; }

.actual_time {color: #888888; }
li.sublist_time .relative_time { font-size: 24px; } 
li.sublist_time:first-child .relative_time {color: #ede22a;  } 

/* ---- Trip List ---- */
/* 1 bus route, many stops */ 

ul.triplist { padding: 0; margin: 0 0 20px 0; list-style: none; 
    font-family: 'Source Code Pro', Consolas, monaco, monospace; }
li.triplist_trip {}

/* ---- Terminal List ---- */
/* many bus route, 0 stops */ 

ul.terminallist {padding: 0 0 20px 0; margin: 0; list-style: none; }
li.terminallist_terminal {  margin: 0; padding: 5px 5px 5px 25px; }
li.terminallist_terminal a { color: #aaaaaa; }
li.terminallist_terminal a:hover {color: #f94290; }

