/* ---- General ---- */
html {height: 100%;}
body { background: #000000; padding: 0; margin: 0; height: 100%; }

a {text-decoration: none; color: #178899; }

.container {width: 480px; margin: 0 auto; color: #ffffff; font: 12pt roboto; background: url('../img/bg.png'); min-height: 100%; }
body.map .container { height: 100%; }

/* ----  Header ---- */

.headerimg {padding: 30px 0 30px 0; text-align: center;}

.navigation {background: #000000; text-align: center; padding: 0; margin: 0; }
.navigation ul {margin: 0; padding: 0;}
.navitem { display: inline-block; width: 30%; text-align: center; margin: 0; padding: 5px 0 5px 0; list-style: none; font-size: 10pt; }
.navitem a {color: #454545;}
.current a{color: #878787;}

.clear {clear: both;}

/* ----  Search ---- */

.stop_search {
  background: #0097AB url('../img/titlegrad.png') repeat-x;
  font: 18pt helvetica; font-weight: lighter; padding: 10px;
}


/*  ---- Favourites ---- */

.favlink a {
    color: #ffffff;
    display: block;
  padding: 10px 10px 10px 20px;
    background: url('../img/arrow.png') no-repeat center right;
}

.favlink{
  background: url('../img/titlegrad.png') repeat-x;
  font: 18pt helvetica;
  font-weight: lighter;
  padding-right: 20px;
}

.title {
  background: url('../img/titlegrad.png') repeat-x;
  font: 18pt helvetica;
  font-weight: lighter;
  text-align: center;
  padding-right: 20px;
}

.title a {
    color: #ffffff;
    display: block;
    background: url('../img/star.png') no-repeat center right;
  padding: 10px;
}

/* ---- Bus List  ---- */

.pagetitle { padding: 10px 5px 10px 5px; font: 24px Helvetica; 
    margin: 0; text-align: center; }
.pagesubtitle { font: 16px Helvetica; text-transform: uppercase; 
    text-align: center; margin: 10px 0 0 0; letter-spacing: 2px;}

/* -> Browse by Stops */

ul.stoplist {padding: 10px 0 0 0px; margin: 0; list-style: none;}
li.stoplist_bus a {background: #000000; display: block; 
    padding: 6px 10px 6px 10px; font: 24px Helvetica;  }

ul.sublist { padding: 0; margin: 0;}
li.sublist_time {list-style: none; border-bottom: 1px solid #555555;
    padding: 5px 5px 5px 50px; }
a.busname {}

/* -> Browse by Trips */

ul.triplist {padding: 0 0 20px 0; margin: 0; list-style: none; }
li.triplist_trip {border-bottom: 1px solid #555555; background: #000000;
    padding: 5px; margin: 0; }

/* -> Browse by Terminals */

ul.terminallist {padding: 0 0 20px 0; margin: 0; list-style: none; }
li.terminallist_terminal { border-bottom: 1px solid #555555; background: #000000; padding: 5px; margin: 0; }

/* Footer */

#contentfoot {font-size: 9pt; padding: 10px; bottom: 0; background: #000000; text-align: center; }
