
/* ---- General ---- */

body { background: #000000; padding: 0; margin: 0;}

a {text-decoration: none;}

/* ----  Header ---- */

.container {width: 480px; margin: 0 auto; color: #ffffff; font: 12pt roboto; background: url('../img/bg.png'); height: 100%;}
.header {padding: 30px; text-align: center;}

.nav {background: #000000; text-align: center; padding: 0; margin: 0; }
.nav ul {margin: 0; padding: 0;}
.navitem { display: inline-block; width: 33%; text-align: center; margin: 0; padding: 5px 0 5px 0; list-style: none; font-size: 10pt; }
.navitem a {color: #454545;}
.current a{color: #878787;}

.clear {clear: both;}

/* ----  Search ---- */

.stop_search {
  background: #0097AB url('../img/titlegrad.png') repeat-x;
  font: 18pt helvetica;
  font-weight: lighter;
  padding: 10px;
}


/*  ---- Favourites ---- */

.favlink a {
	color: #ffffff;
	display: block;
  padding: 10px 10px 10px 20px;
	background: url('../img/arrow.png') no-repeat center right;
}

.favlink{
  background: url('../img/titlegrad.png') repeat-x;
  font: 18pt helvetica;
  font-weight: lighter;
  padding-right: 20px;
}

.title {
  background: url('../img/titlegrad.png') repeat-x;
  font: 18pt helvetica;
  font-weight: lighter;
  text-align: center;
  padding-right: 20px;
}

.title a {
	color: #ffffff;
	display: block;
	background: url('../img/star.png') no-repeat center right;
  padding: 10px;
}

/* ---- Bus List  ---- */

.content ul 
{ 
  list-style-type: none;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.content ul li
{
  overflow: hidden;
}

.content li span
{
  display:block;
}

.s_listhead, .t_listhead
{
  background: #3a3a3a url('../img/itemgrad.png') repeat-x;
  height: 70px;
}

.s_sublist
{
  height: 40px;
  margin: 0 0 0 30px;
}

.s_time, .t_time
{
  color: #178899;
	font: 20pt helvetica;
	font-weight: lighter;
  float: left;
}

.s_route, .s_routename, .t_stopid, .t_stopname
{
  color: #ffffff;
  float: right;
  padding: 3px;
  font: bold 16pt helvetica;
}

.s_headsign, .t_headsign
{
	color: #dddddd;
	font: 12pt helvetica;
  float: right;
  clear: both;
	font-weight: lighter;
} 
