<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %} Watbus {% endblock %} </title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "watbus/css/style.css" %}" />
    {% block headscripts %} {% endblock %}
  </head>

  <body class="{{ urlname }}"> 
    <div class="container">
        <header class="contentheader">
        <div class="headerimg">
            <a href="/">
                watbus
            </a>
        </div>
        <div class="navbar">
            <div id="navdate">
            </div>
            <nav class="headnav">
            <ul>
                <li class="{% if urlname == "map" %}current{% endif %}">
                <a href={% url 'watbus.views.map' %}>map</a></li>
                <li class="diamond">
                    <img src="{% static "watbus/img/diamond.png" %}" />
                </li>
                <li class="{% if urlname == "freqstops" %}current{% endif %}">
                <a href={% url 'watbus.views.popular' %}>popular</a></li>
                <li class="diamond">
                    <img src="{% static "watbus/img/diamond.png" %}" />
                </li>
                <li class="{% if urlname == "browse" %}current{% endif %}">
                <a href="#">browse</a></li>
            </ul>
            </nav>
            <div id="navtime">
            </div>
        </div>
      <div id="stop_search">
        <form action={% url 'watbus.views.search' %} method="get">
          <input type="text" name="query">
          <input type="submit" value="Search">
        </form>
      </div>
      <div class=clear></div>
      </header>

    <section id="content">
        {% block content %} {% endblock %}
    </section>
    <footer id="contentfoot">
        <div class="disclaimer">
            Disclaimer: This is only a bus schedule. It is not real time data.<br/>
        </div>
        <nav class="footnav">
        <ul>
            <li><a href={% url 'watbus.views.about' %}>about</a></li>
            <li class="whitediamond">
                <img src="{% static "watbus/img/whitediamond.png" %}" />
            </li>
            <li><a href={% url 'watbus.views.sitemap' %}>sitemap</a></li>
            <li class="whitediamond">
                <img src="{% static "watbus/img/whitediamond.png" %}" />
            </li>
            <li><a href="http://twitter.com/watbusca/">twitter</a></li>
            <li class="whitediamond">
                <img src="{% static "watbus/img/whitediamond.png" %}" />
            </li>
            <li><a href="http://facebook.com/watbusca/">facebook</a></li>
            <li class="whitediamond">
                <img src="{% static "watbus/img/whitediamond.png" %}" />
            </li>
            <li><a href="https://github.com/mrpoulin/watbus">github</a></li>
        </ul>
        </nav>
    </footer>
    </div>
  </body>
</html>
