<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %} Watbus {% endblock %} </title>
    {% load staticfiles %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="{% static 'watbus/js/general.js' %}"></script>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Code+Pro:200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "watbus/css/style.css" %}" />

    {% block headscripts %} {% endblock %}
  </head>

  <body class="{{ urlname }}"> 
    <div class="container">
        <header class="contentheader">
        <div class="headerimg">
            <a href="/">
                <h1>watbus</h1>
            </a>
        </div>
        <div class="navbar">
            <div id="navdate">
            </div>
            <nav class="headnav">
            <ul>
                <li class="nav_map">
                <a href={% url 'watbus.views.map' %}>map</a></li>
                <li class="diamond">
                    <img src="{% static "watbus/img/diamond.png" %}" />
                </li>
                <li class="nav_popular">
                <a href={% url 'watbus.views.popular' %}>popular</a></li>
                <li class="diamond">
                    <img src="{% static "watbus/img/diamond.png" %}" />
                </li>
                <li class="nav_stop">
                    <div id="stop_search">
                        <div class="arrow_top"></div>
                        <form action={% url 'watbus.views.search' %} method="get">
                            <div class="searchbox">
                                <input type="text" name="query" size="7" />
                            </div>
                            <div class="searchbutton">
                                <input type="submit" value="search" />
                            </div>
                          <div class="clear"></div>
                      </form>
                    </div>
                <a href="#" id="togglestop">stop</a></li>
            </ul>
            </nav>
            <div id="navtime">
            </div>
        </div>
      <div class=clear></div>
      </header>

    <section id="content">
        {% block content %} {% endblock %}
    </section>
        <div class=clear></div>
        <div class="disclaimer">
        Disclaimer: This is only a bus schedule. It does not contain real time data.<br/>
        </div>
    </div>
    <footer id="contentfoot">
        <nav class="footnav">
        <ul>
            <li><a href={% url 'watbus.views.about' %}>about</a></li>
            <li class="whitediamond">
                <img src="{% static "watbus/img/whitediamond.png" %}" />
            </li>
            <li><a href={% url 'watbus.views.sitemap' %}>sitemap</a></li>
            <li class="whitediamond">
                <img src="{% static "watbus/img/whitediamond.png" %}" />
            </li>
            <li><a href="http://twitter.com/watbusca/">twitter</a></li>
            <li class="whitediamond">
                <img src="{% static "watbus/img/whitediamond.png" %}" />
            </li>
            <li><a href="http://facebook.com/watbusca/">facebook</a></li>
            <li class="whitediamond">
                <img src="{% static "watbus/img/whitediamond.png" %}" />
            </li>
            <li><a href="https://github.com/mrpoulin/watbus">github</a></li>
        </ul>
        </nav>
    </footer>
  </body>
</html>
