<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %} Watbus {% endblock %} </title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "watbus/css/style.css" %}" />
    {% block headscripts %} {% endblock %}
  </head>

  <body class="{{ urlname }}"> 
    <div class="container">
        <header class="contentheader">
        <div class="headerimg">
            <a href="/">
                <img src="{% static "watbus/img/header.png" %}" />
            </a>
        </div>
        <nav class="navigation">
        <ul>
            <li class="navitem {% if urlname == "map" %}current{% endif %}">
            <a href={% url 'watbus.views.map' %}>MAP</a></li>
            <li class="navitem {% if urlname == "terminals" %}current{% endif %}">
           <a href={% url 'watbus.views.browse_all_terminals' %}>TERMINALS</a></li>
            <li class="navitem {% if urlname == "browse" %}current{% endif %}">
            <a href={% url 'watbus.views.browse' %}>BROWSE</a></li>
        </ul>
        </nav>
          <div class="stop_search">
            <form action={% url 'watbus.views.search' %} method="get">
              <input type="text" name="query">
              <input type="submit" value="Search">
            </form>
          </div>
      <div class=clear></div>
      </header>

    <section id="content">
        {% block content %} {% endblock %}
    </section>
    <footer id="contentfoot">
        <nav class="navigation">
        <ul>
            <li class="navitem">
            <a href={% url 'watbus.views.about' %}>ABOUT</a></li>
            <li class="navitem">
            <a href={% url 'watbus.views.sitemap' %}>SITEMAP</a></li>
        </ul>
        </nav>
    Disclaimer: This is only a bus schedule. It is not real time data.<br/>
    We are not associated with <a href="http://grt.ca/">Grand River Transit</a>. <br />
    </footer>
    </div>
  </body>
</html>
