{% extends "watbus/base.html" %}

{% block title %} Watbus - Stop:  {{ stop_id }} {% endblock %}

{% block content %} 
<h2 class="pagetitle">Stop {{ stop_id }}</h2>
  {% for route,buses in next_buses_by_route %}
    <ul class="stoplist">
     <li class='stoplist_bus'> 
     <a href="{% url 'watbus.views.browse_trips' buses.0.trip_id.trip_id %}" class='busname'> {{ buses.0.trip_id.trip_headsign }}</a>

      <ul class="sublist">
        {% for bus in buses|slice:"0:3" %}
        <li class="sublist_time">
          <span class='time'> {{ bus.arrival_time }} </span>
        </li>
        {% endfor %}
      </ul>
  </ul>
  {% endfor %}
  <div class="clear"></div>
{% endblock %} 
