{% regroup next_buses_by_time by trip_id.trip_headsign as next_buses_by_route %}
{% load reltime_tags %}

<ul class="stoplist">
{% for buses in next_buses_by_route %}
    <li class='stoplist_bus'> 
    <div class="headsign"> 
    <span class="rightarrow">&gt;</span>
      <a href="{% url 'watbus.views.browse_trips' buses.list.0.trip_id.trip_id %}" class='busname'>
          {{ buses.grouper }}
      </a>
    </div>

      <ul class="sublist">
        {% for bus in buses.list|slice:"-3:" %}
        <li class="sublist_time">
            <div class="actual_time"> {{ bus.arrival_time }}
            </div>
            <div class="relative_time">{{ bus.reltime|format_rel_time }} 
            </div>
        </li>
        {% endfor %}
      </ul>
  {% endfor %}
  </ul>
  <div class="clear"></div>
