{% extends "watbus/base.html" %}

{% block headscripts %}
    {% load staticfiles %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHyk1XXbAb_wovesF9e7mLcMx5_hTxcbU&sensor=true"></script>
    <script type="text/javascript" src="{% static "watbus/js/gmap3.js" %}"></script>
    <script type="text/javascript" src="{% static "watbus/js/map.js" %}"></script>
    <script type="text/javascript" src="http://fgnass.github.io/spin.js/dist/spin.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "watbus/css/map.css" %}" />
{% endblock %} 

{% block content %} 
    <div id="map-canvas"></div>
{% endblock %} 
