{% extends "watbus/base.html" %}
{% block title %} Watbus - Frequent Stop:  {{ stop_name }} {% endblock %}

{% block headscripts %}
    {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "watbus/css/browse.css" %}" />
{% endblock %} 

{% block content %} 

<h2 class="pagetitle"> {{ stop_name }} </h2>

  {% for stop_id, buses in stops %}
  <h3 class="pagesubtitle" id="stop_{{ stop_id }}">Stop {{ stop_id }} </h3>
    {% include 'watbus/buses_by_route.html' with next_buses_by_time=buses %}
  {% endfor %}

{% endblock %}


