{% extends "easygrt/base.html" %}

{% block title %} EasyGrt - Stop:  {{ stop_id }} {% endblock %}

{% block content %} 

  {% for route,buses in next_buses_by_route.items %}
    <ul>
      <li> 
        <span> {{ buses.0.arrival_time }} </span>
        <span> {{ route }} </span>
        <span> {{ buses.0.trip_id.route_id.route_long_name }} </span>
      </li>

      <ul>
        {% for bus in buses|slice:"1:" %}
        <li>
          <span> {{ bus.arrival_time }} </span>
          <span> {{ route }} </span>
        </li>
        {% endfor %}
      </ul>
  </ul>
  {% endfor %}
{% endblock %} 
