
{% extends "easygrt/base.html" %}
{% block title %} EasyGRT Map {% endblock %}

{% block headscripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHyk1XXbAb_wovesF9e7mLcMx5_hTxcbU&sensor=true"></script>
{% load staticfiles %}
<script type="text/javascript" src="{% static "easygrt/js/map.js" %}"></script>
<style type="text/css">
    body section {height: 100%; width: 100%;}
    #map-canvas {width: auto; height: 100%; }
</style>
{% endblock %} 
{% block bodyattributes %}
    onload="initialize()"
{% endblock %} 
{% block content %} 
    <div id="map-canvas"></div>
{% endblock %} 
